* {
  box-sizing: border-box;

}

body {
  font-family: 'Open Sans', sans-serif;
  /* background: linear-gradient(to right, rgb(5, 114, 210), rgb(38, 205, 252)); */
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;

}

/* Start Landing Page */

.logo-svg {
  background: -webkit-linear-gradient(rgb(4, 78, 143), rgb(68, 207, 246));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

.landing-page {
  position: relative;
  background-color: #FFF;
  /* background: linear-gradient(to right, rgb(5, 114, 210), rgb(38, 205, 252)); */
}

.check a {
  list-style: none;
  color: #FFF;
  text-decoration: none;
}

.landing-page .header-area {
  display: flex;
  padding: 25px 0 0;
  position: relative;
}

.landing-page .header-area .logo {
  text-transform: uppercase;
  font-style: italic;
  margin-top: 10px;
  font-size: 19px;
  width: 300px;
  color: #5d5d5d;
}

.landing-page .header-area .links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: right;
}

.landing-page .header-area .links li {
  display: inline-block;
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
}

.landing-page .header-area .links li:last-child {
  border: 0;
  border-radius: 20px;
  padding: 10px 18px;
  color: #FFF;
  background-color: #6c63ff;
}

.landing-page .info {
  width: 35%;
  float: left;
  margin-top: 130px;
}

.landing-page .info h1 {
  font-size: 44px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #5d5d5d;
}

.landing-page .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landing-page .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background: linear-gradient(to right, rgb(5, 114, 210), rgb(38, 205, 252));
}

.landing-page .image {
  width: 50%;
  float: right;
  margin-top: 35px;
}

.landing-page .image img {
  max-width: 100%;
}

.clearfix {
  clear: both;

}

.logo h1 {
  font-size: 4.5em;
  font-weight: 900;
  letter-spacing: 2px;
  color: #6c63ff;
}

.image {
  position: relative;
  top: 0;
  left: 0;
}

.image h2 {
  position: absolute;
  top: 0;
  right: 16%;
  font-weight: 800;
}

#video-frame {
  transform: translate(120px, 85px);
  scale: 2;
  border: 2px solid rgb(5, 114, 210);
}

.room {
  transform: translateX(170px);
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border-radius: 20px;
  color: #fff;
  padding: 10px 30px 10px 20px;
  background: linear-gradient(to right, rgb(5, 114, 210), rgb(38, 205, 252));
  cursor: pointer;
  white-space: nowrap;
  transform: translate(40px, 15px);
  border: none;
  border-radius: 20px;
  padding: 12px 30px;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input+.dd-menu {
  display: none;
}

.dd-input:checked+.dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: rgb(5, 114, 210);
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}